*{
  margin: 0px;
  padding: 0px;
}
body{
	background: #252525 url(../imagenes/fondo2.jpg);
	color: white;
	font-family: 'Indie Flower', cursive;
	font-size: 16px;

}

div{

	font-size: 13px;
	text-align: center;
}

div h1{
	box-shadow: 10px 5px 80px aqua;
	color:white;
	font-size: 2em;
	margin: 0.2em auto;
	
}

header,nav,footer{
	background: white url(../imagenes/FondoNav.jpg);
	border-radius: 0.5%;
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0.25em;
	text-align: center;
	border-radius:0.5em;

}
header figure{
	height:130px;
}
nav{
	height: 50px;
	width:100%;
	text-align: right;

}
nav ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
nav ul li {

	float: left;
	display: inline-block;
	margin:2px 0px;
	padding: 1px 30px;

}
nav ul li a{
	text-decoration: none;
}

nav ul li a img{
	border-radius: 40%;
	width:180px;

}
nav.navAdmin{
	height: 30px;
}
nav.navAdmin ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
nav.navAdmin ul li{
	float: left;
	display: inline-block;
	margin: 2px 0px;
	padding: 1px 30px;
}
nav.navAdmin ul li a{
	text-decoration: none;
}
nav.navAdmin ul li a img{
	border-radius: 20%;
	width:100px;
	height: 25px;
	margin: auto;	
}
nav.navAdmin{
	height: 30px;
}
nav.navAdmin ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
/*Navbar para el usuario encargado*/
nav.navEncargado ul li{
	float: left;
	display: inline-block;
	margin: 2px 60px;
	padding: 1px 40px;
}
nav.navEncargado ul li a{
	text-decoration: none;
}
nav.navEncargado ul li a img{
	border-radius: 20%;
	width:100px;
	height: 40px;
	margin: auto;	
}
section#contenedor{
	
	border-radius: 0.5em;
	margin: 0.5em auto;
	max-width: 960px;
	padding: 0px;
	color: black;
	text-align: center;
}

.Parrafo{
    background:hsla(199, 98%, 38%, 0.41);
	color:white;
	font-size:24px;
	position:relative;
	text-outline: 1px;
	border-radius:50%;
	position: absolute;
}
.Parrafo1{
	 text-align: center;
	 font-size: 23px;
	 bottom: 46px;
	 position: absolute;
	 color: white;
	 text-shadow:5px 5px 5px orange;
}
.Parrafo:hover{
	    color:blue;
		background:yellow;
	}
	
section#principal,aside{
	background: rgba(65,105,25,0.3); url(../imagenes/FondoSection.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0.25em auto;
	max-width: 960px;
	min-height:200px;
	padding: 0.25em;
	text-align: center; 
	vertical-align: top;
	width: 55%;
	color: white;
	height: 800px;
	position: relative;
}
/*Manejo del section para el forumalrio del encargado*/

section#principalEncargado,aside#EncargadoPrincipal{
	background: rgba(65,105,25,0.3); url(../imagenes/FondoSection.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0.25em auto;
	max-width: 960px;
	min-height:200px;
	padding: 0.25em;
	text-align: center; 
	vertical-align: top;
	width: 60%;
	color: white;
	height: 800px;
	position: relative;
}
aside#EncargadoPrincipal{
	width: 37%;
	
}

aside{
     width: 20%;
}
#GaleriaSection{
	width:100%;
	background: rgba(65,105,25,0.3); url(../imagenes/FondoSection.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 0.5em;
	display: inline-block;
	margin: 0.25em auto;
	max-width: 960px;
	min-height:200px;
	padding: 0.25em;
	text-align: center; 
	vertical-align: top;
	color: white;
	height: 500px;
	position: relative;
}
.slider{
	display: block;
	position: relative;
	margin: auto;
	width: 100%;
	max-width: 960px;
	max-height: 450px;
	overflow: hidden;
	box-shadow: 5px 5px 100px white,
               -5px -5px 80px aqua; 
}
.boton{
	position: absolute;
	display: block; 
    bottom: 30px;
    margin: 0px ;
    padding: 0px;
    z-index:999;
    cursor:pointer;
    opacity: 0;
}

.boton:nth-child(1){
	left:95px;
}

.boton:nth-child(3){
	left:125px;
}

.boton:nth-child(5){
	left:155px;
}

.boton:nth-child(7){
	left:185px;
}
.boton:nth-child(9){
    left: 215px;
}

.slider label{
	position: absolute;
	bottom: 30px;
	width: 12px;
	height: 12px;
	background: rgba(50,50,50,.5);
	border-radius: 7px ;
	z-index: 100;
	border: 3px dashed aqua;

}

.slider label:nth-child(2){
      left:90px;
}
.slider label:nth-child(4){
      left:120px;
}
.slider label:nth-child(6){
      left:150px;
}
.slider label:nth-child(8){
      left:180px;
}
.boton:checked + label{
	box-shadow: 5px 5px 5px 5px aqua;

}
.contenedor-imagenes img{
	display: block;
	float: left;

}
.cuatro-imagenes{
   width:400%;
}

.cuatro-imagenes img{
	width: 25%;
}
.contenedor-imagenes{
	position: relative;
    left: 0;
	transition: left .3s ease-in;
    -webkit-transition: left .3s ease-in;
	-moz-transition:left .3s ease-in;
	-o-transition:left .3s ease-in;
	-ms-transition: left .3s ease-in;
	
}
.boton:nth-child(1):checked ~ .contenedor-imagenes{
     left: 0;
}
.boton:nth-child(3):checked ~ .contenedor-imagenes{
     left: -100%;
}
.boton:nth-child(5):checked ~ .contenedor-imagenes{
     left: -200%;
}
.boton:nth-child(7):checked ~ .contenedor-imagenes{
     left: -300%;
}


header figure img{

       height: 130px;
       text-align: center;
       width: 100%;
       box-shadow: 10px 10px 80px aqua;
       

}
nav ul li {
	
	list-style: none;

}
.logo{
   height: 30px;
   width: 30px;
   border-radius: 50px;	
}

nav ul li a{
	color: white;
	list-style: none;
	border-radius: 2px;
	
	}

nav ul li a img:hover{
	box-shadow: 10px 10px 80px aqua;

}
aside#FotosDocumentos{
	background-image:url(../imagenes/SenaC.jpg); 
	background-size: 180%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 5px 5px 100px white,
               -5px -5px 80px aqua;
    padding: 10px 5px;
    position: relative;

}

.Caja{
	box-shadow: 3px 3px 15px rgba(255,72,0,0.6);
	background: rgba(0,204,204,0.7);
	font-size:13.5px;
	font-weight: bolder;
	width:60%;
	padding: 1px 5px;
	color:white;
	border: 2px dashed orange;
}
/*Esta es la caja que aparece al imprimir los datos en el Formulario sistema*/
.CajaEncargado{
	box-shadow: 3px 3px 15px rgba(255,72,0,0.6);
	background: rgba(0,204,204,0.7);
	font-size:13.5px;
	font-weight: bolder;
	width:40px;
	margin: 0px 10px;
	color:white;
	border: 2px dashed orange;
}
.Caja:hover{
   border-bottom: 5px solid orange;
}
.CajaArea{
	box-shadow: 3px 3px 15px rgba(255,72,0,0.6);
	background: rgba(0,204,204,0.7);
	font-size:13.5px;
	font-weight: bolder;
	/*width:100%;*/
	padding: 1px 5px;
	color:white;
	border: 2px dashed orange;

}
#Encargado{

	margin: 0px 15px;

}
.CajaArea:hover{
     border-bottom: 5px solid orange;
}
aside input .button{

}
 .cajaLogin{
	  background: rgba(243,178,47,0.6);
      color: white;
      position: absolute;
      font-size: 18px;
      font-weight: bold;
      margin: 10px 20px; 
      width: 92%;
      box-shadow: 8px 0px 20px aqua;
      border-radius: 20px;
     
}
aside#FotosDocumentos2{
	background-image:url(../imagenes/CDTCI.jpg); 
	background-size: 180%;
	background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    box-shadow: 5px 5px 100px aqua,
               -5px -5px 80px white;
    position: relative;

}

aside#FotosDocumentos2 .cajaRegistro{
      background: rgba(243,178,47,0.6);
      top: 80px;
      color: white;
      position: absolute;
      font-size: 18px;
      font-weight: bold;
      margin-left: 3px; 
      width: 92%;
      box-shadow: 8px 0px 20px aqua;
      border-radius: 20px;
      margin-right: 8px;
	}

footer{
	background-image: url(../imagenes/FooterP.jpg);
	height: 90px;
}
/*  Aca esta la parte de diseño del Formulario de Insercion de datos de parte del usuario*/
div.CajaReporte{
      border-style:outset;
      border-color:orange; 
      height: 90%;
      width: 70%;
      margin:auto;
      font-weight: bold;
      font-size:20px; 
      color: orange;
}
div.CajaLogin_Reporte{
      border-style:outset;
      border-color:orange; 
      margin:auto;
      font-weight: bold;
      font-size:20px; 
      color: orange;
}
form{
   margin: 5px 5px;
   padding: 5px 5px;
}
fieldset{
	border-color: aqua;
}
table
{
	margin: 5px 5px;
}
table tr td{
	text-align: left;
}
/* Este es el css para los aside solos  */
 #AsideReporte0{
  background-image:url(../imagenes/Crear.png); 
  background-size: 100%;
  background-repeat: no-repeat;
  font-weight: bolder;
  color:orange;
  
}
#AsideReporte0 p{
  font-size: 20px;
}
#AsideReporte1{
  background-image:url(../imagenes/CDTCI.jpg); 
  background-size: 100%;
  background-repeat: no-repeat;

}
	/* Este es el css para los aside solos  */
aside#AsideSolo0{
	background-image:url(../imagenes/Consultas1.png); 
	background-size: 160%;
	background-repeat: no-repeat;
    background-position: center;
    
    box-shadow: 5px 5px 100px aqua,
               -5px -5px 80px white;
    position: relative;
    color: orange;

}
aside#AsideSolo0 p{
	position: absolute;
	bottom: 20px;
	font-size: 25px;
	text-shadow:5px 5px 10px aqua;
	font-weight: bolder;
}
aside#AsideSolo1{
	background-image:url(../imagenes/CDTCI.jpg); 
	background-size: 140%;
	background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    box-shadow: 5px 5px 100px aqua,
               -5px -5px 80px white;
    position: relative;
}
/*botones genrales para todos los form*/
.BtnGeneral{
	background:orange;
	box-shadow: 2px 2px 10px white;
	font-family: monospace;
	border:2px outset aqua;
	font-weight: bolder;
	height: 30px;
	color: white;
	text-shadow:4px 4px 6px black;
}
.BtnGeneral:hover{
	box-shadow: 2px 2px 10px aqua;
}

/* Btton para cerrar session*/
.BtnCerrarSession{
	box-shadow: 3px 3px 40px orange;
	background: rgba(0,204,204,0.7);
	font-size:13.5px;
	font-weight: bolder;
	width:140px;
	padding: 1px 5px;
	color:white;
	border: 5px dashed orange;
	font-family: monospace;
	color: orange;
	border-radius: 20px;
	text-shadow:3px 3px 5px black;
	position: absolute;
	top: 8px;
	right:20px;
}
@media(min-width: 767px){
	div#contenedor{
		display: inline;
	}
.tableBuscar{
         width: 200px;
         height: 5px;
         background: rgba(0,204,204,0.7);
         color: white;
         font-weight: bolder;
         text-shadow:5px 5px 10px orange;
         font-size: 10px;
         
         border: 1px dashed yellow;
	}
	#tableBuscar1{
		font-size: 12px;

	}
	div.tablaImprimida{
             overflow: auto;
             
             height: 300px;
             width: 500px;
	}
	.tableBuscar .Fila{
		background: orange;
		border: 5px outset yellow;
		border-radius: 30px;	
	}
	tr,td{
		padding: 2px 4px;
	}
	/*       Esta son las vistas de los reportes para Administrador*/
#VistaReportes{
	border: 4px outset orange;
	overflow-y: scroll;
	height: 400px;
	
}
#VistaReportes div{
	font-size: 15px;
	margin: 5px 20px;
	border: 3px outset aqua;
	box-shadow: 4px 4px 80px orange;
}
/*
Aca esta las vista para eliminar reportes Administrador*/

#VistaEliminar{
	border: 4px outset orange;
	overflow-y: scroll;
	height: 300px;
	margin: 18px;
	
}
#VistaEliminar div{
	font-size: 15px;
	margin: 5px 20px;
	border: 3px outset aqua;
	box-shadow: 4px 4px 80px orange,
	            -5px -5px 150px yellow;
}
/* esto es la  slect para buscar los codigos de los elemtos*/
 .CajaTXTcodElemento{
       background:orange;
       border-radius: 10px;
       box-shadow: 5px 5px 30px white;
       color: black;
       font-size: 20px;
       font-weight: bolder;
       text-shadow: 4px 4px 10px aqua;
       width: 120px;
       border:2px dotted aqua;
}
/*Esta es la el arreglo de la lista deñ administrador */
#ListaAdmin{
	height: 200px;
	width: 500px;
	background: rgba(64,224,208,0.3);
	margin: 0px 10px; 
	overflow: scroll;
}
#ListaAdmin div{
	padding: 10px 5px;
}
/*Este div es para poner el scroll en el formulario UsuarioEliminar*/
#CajaPrincipal{

	box-shadow: 2px 3px 30px,
	          -2px -3px 20px orange;
	overflow: scroll;
	height: 500px;
}
#CajaSecundaria{


}
#TablaReportesEncargado{
	overflow: scroll;
	width: 100px;
}
#VistaEncargado{
	overflow: scroll;
	width: 500px;
	height: 500px;
	box-shadow: 5px 5px 70px orange,
	            -5px -5px 70px aqua;
	            margin: 10px auto;
	
}
.CajaUpdateEncargado{

	margin: 10px auto;
	border:2px outset orange;
	border-radius: 20px;
	width: 335px;
	box-shadow: 5px 5px 30px aqua,
	            -5px -5px 10px orange;
}
/*Aca esta el nombre del usuario en session este es el div donde se encuentra*/

.NombreUsuario{
	position: absolute;
	top: 10px;
	margin: 0px 10px;

}
#recaptcha_image
{
margin: 0 auto;
 display: table;
 overflow: scroll;
 }
 #contenedorLogin{
 	background: rgba(0,0,0,5);
 	position: absolute;
 	top: 5px;
 	left: 0px;
 	width: 80px;
    display: none;

 }
.contenedorForm{
   text-align: center;
   margin: 20px auto;
   width: 400px;
   position: absolute;
   left: 60px;
   border: 5px solid orange;
   border-radius: 5px;
   display: none;
   box-shadow: 3px 3px 10px aqua;
}
.contenedorLogin{
	background: rgba(0,0,0,5);
 	position: absolute;
 	top: 50px;
 	left: 0px;
 	width: 80px;
    display: none;

 }
#contenedorFormRegis{
   text-align: center;
   margin: 20px auto;
   width: 400px;
   position: absolute;
   left: 60px;
   border: 5px solid orange;
   border-radius: 5px;
   display: none;
   box-shadow: 3px 3px 10px aqua;
}
div#captcha{
	text-align: center;
	margin: 5px auto;
}
.Button{
    background:orange;
		box-shadow: 2px 2px 10px white;
		font-family: sans-serif;
		border:4px outset aqua;
		font-weight: bolder;
		height: 30px;
		color: white;
		text-shadow:4px 4px 6px black;
		margin: 30px 8px;
		border-radius: 50px;
		width: 80px;
		height: 50px;
	box-shadow: 6px 6px 12px orange,
	            -6px 6px 12px aqua;

}
/*Este es la propiedad para cerrar el login de la palgina*/
#VentanaCerrar{
	color:#09C4F3;
	text-align: right;
	font-weight: bolder;
	font-size:20px;
}

@media screen and(max-width: 959px){
    #container{
        

    }


}
#ListaAdministrador{
	overflow: scroll;
	height: 200px;
}